
.schedulerWrap{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.topWrap, .bottomWrap{
    display: flex;
    flex-direction: row;
}
.bottomWrap{ height: 100% }
.hourDisplayContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}
.schedulerDayContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.schedulerDayContainer > div {
    width: 20%;
}
.schedulerDay{
    display: center;
}
.schedulerDay > div {
    display: grid;
    place-content: center;
}
.schedulerDay > div > span {
    display: block;
    text-align: center;
    width: 50px;
    line-height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 100vw;
}